.banner {
    position: relative;
    display: block;
    overflow: hidden;

    &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        border: 70px solid rgba(255, 255, 255, 0);
        top: 0;
        right: 0;
        transition: all 0.5s ease-in-out;
        z-index: 2;
    }

    &:hover {
        &::before {
            border: 0 solid rgba(255, 255, 255, 0.7);
        }
    }

}

.banners_two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin-top: 3.125rem;
    @include xs{
        gap: .625rem;
        grid-template-columns: 1fr;
        margin-top: 2.5rem;
    }
}
.banners_four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    margin-top: 3.125rem;
    @include xs{
        gap: .9375rem;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2.5rem;
    }
}