:root {
    --primary-color: #1e385b;
    --secondery-color: #f20e0d;
    --text-color: #1e385b;
    font-size: 16px;

    @include md {
        font-size: 14px;
    }
    @include sm {
        font-size: 14px;
    }
}

$main:var(--primary-color);
$sec:var(--secondery-color);
$text:var(--text-color);
$back:#f5f8fa;
$border:#f2f2f2;