@font-face {
    font-family: 'Bahij';
    src: url('../fonts/Bahji/BahijTheSansArabic-ExtraLight.woff2') format('woff2'),
        url('../fonts/Bahji/BahijTheSansArabic-ExtraLight.woff') format('woff'),
        url('../fonts/Bahji/BahijTheSansArabic-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij';
    src: url('../fonts/Bahji/BahijTheSansArabic-Light.woff2') format('woff2'),
        url('../fonts/Bahji/BahijTheSansArabic-Light.woff') format('woff'),
        url('../fonts/Bahji/BahijTheSansArabic-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij';
    src: url('../fonts/Bahji/BahijTheSansArabic-SemiLight.woff2') format('woff2'),
        url('../fonts/Bahji/BahijTheSansArabic-SemiLight.woff') format('woff'),
        url('../fonts/Bahji/BahijTheSansArabic-SemiLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij';
    src: url('../fonts/Bahji/BahijTheSansArabic-Plain.woff2') format('woff2'),
        url('../fonts/Bahji/BahijTheSansArabic-Plain.woff') format('woff'),
        url('../fonts/Bahji/BahijTheSansArabic-Plain.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij';
    src: url('../fonts/Bahji/BahijTheSansArabic-SemiBold.woff2') format('woff2'),
        url('../fonts/Bahji/BahijTheSansArabic-SemiBold.woff') format('woff'),
        url('../fonts/Bahji/BahijTheSansArabic-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Bahij';
    src: url('../fonts/Bahji/BahijTheSansArabic-Bold.woff2') format('woff2'),
        url('../fonts/Bahji/BahijTheSansArabic-Bold.woff') format('woff'),
        url('../fonts/Bahji/BahijTheSansArabic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij';
    src: url('../fonts/Bahji/BahijTheSansArabic-ExtraBold.woff2') format('woff2'),
        url('../fonts/Bahji/BahijTheSansArabic-ExtraBold.woff') format('woff'),
        url('../fonts/Bahji/BahijTheSansArabic-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij';
    src: url('../fonts/Bahji/fonts/Bahji/BahijTheSansArabic-Black.woff2') format('woff2'),
        url('../fonts/Bahji/BahijTheSansArabic-Black.woff') format('woff'),
        url('../fonts/Bahji/BahijTheSansArabic-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}